
* {
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;  /* needed to make sure body fills up window */
    font-family: "font-family: helvetica", sans-serif;
    width: 100%;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
}

/************************ Header Style ********************/
/**********************************************************/
/**********************************************************/
header {
    display: flex;
    flex-direction: column;
}

/******* logo and nav ***********/
.logo-and-nav {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
}
#logoText {
    color:rgb(51, 204, 204);
    font-size: 1.8vw;
    /* opacity: .9; */
    font-weight: bold;
}

#logoText span{
    color: rgb(201, 82, 120);
    font-weight: bold;
    /* opacity: .99; */
}


.logo {
    margin-left: 10%;
    flex: 5;
    display: flex;
    align-items: center;
}


/************************ Menu Style ********************/
/**********************************************************/
/**********************************************************/

.menu__list{
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;  
}

.menu__link{
    display: block;
    padding: 2rem 1.5rem;

    will-change: color;
    transition: color .25s ease-out;  

    font-weight: 700;
    color:rgb(51, 204, 204);
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 0px){

    .menu__list{
        display: flex;  
    }

    .menu__group{
        flex-grow: 1;
    }

    .menu__link{
        position: relative;
        overflow: hidden;
    }

    .menu__link:before, .menu__link:after{
        content: "";
        width: 0;
        height: 3px;
        background-color: rgb(201, 82, 120);

        will-change: width;
        transition: width .05s ease-out;

        position: absolute;
        bottom: 0;
    }

    .menu__link:before{
        left: 50%;
        transform: translateX(-50%); 
    }

    .menu__link:after{
        right: 50%;
        transform: translateX(50%); 
    }

    .menu__link:hover:before, .menu__link:hover:after{
        width: 100%;
        transition-duration: .25s;
    }
}
  
  /* hover effect */
  
.menu:hover .menu__link:not(:hover){
    color:  rgb(51, 204, 204);
}

.menu:hover .menu__link:hover{
    color:  rgb(201, 82, 120);
}

nav {
    margin-right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

nav p {
    font-weight: 800;
    opacity: .6;
    margin: 2%;
}

/******* header titleBar ***********/

.header__titleBar {
    display: flex;
    /*background-color:rgb(51, 204, 204);
*/
    background-image: linear-gradient(to right, rgb(102, 255, 102),rgb(51, 204, 204) )
}

.my_image {
    flex: 1;
    margin-left: 10%;
    margin-top: 0.25%;
    margin-bottom: 0.25%
}

.me {
    border-radius: 50%;
}

.header__titleBar img {
    width: 100%;
    height: 100%;
}

.titleBar__Text {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.artistName {
    font-family: montserrat, sans-serif; 
    font-weight: 600;
    font-size: 5.73vw;; 
    color: white;
    margin-left: 7%;
    
    font-style: normal;
}

.artContentTitle {
    font-family: montserrat, sans-serif; 
    font-weight: 400;
    font-size: 2.5vw;
    margin-left: 7%;
    color: white;
    font-style: italic;
    
}

/************************ Main Style **********************/
/**********************************************************/
/**********************************************************/

main {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;  
}

.block {
    display: flex;
    flex-direction: column;
}

.block_title {
    font-size: 2.5vw;
    color: rgb(201, 82, 120);
    font-weight: bold; 
}

.block_info {
    color: rgb(32, 138, 138);
    font-weight: bold;
}


/************************ footer Style ********************/
/**********************************************************/
/**********************************************************/

.footer_hide {
    display: flex;
}

footer {
    background-image: linear-gradient(to right,rgb(51, 204, 204) , rgb(102, 255, 102));
    color: black;
    font-size: 1.5vw;
    margin-top: 4%;
    padding-bottom: 3%;
}

footer p {
    opacity: .8;
}

.adress_text_div {
    flex: 1;
    margin-top: 3%;
    margin-left: 10%;
    
}

#footer_addres_name {
    font-weight: 700;
    margin-bottom: 8%;
}


.hours_text_div {
    flex: 2;
    margin-left: 2%;
    margin-top: 3%;
    margin-right: 10%;
}

#footer_hours {
    font-weight: 700;
    margin-bottom: 4%;
}




























