

/************************ Tablet Style ********************/
/****************************************************************/
/****************************************************************/

@media only screen and (max-width: 780px) {
    
    
    /************************ Header Style ********************/
    /**********************************************************/
    
    nav {
        font-size: 2.7vw;
        padding-right: 5%;
    }
    
    .corid_image_div {
        margin: 0;
    }
      
     .artistName {
        font-size: 6.6vw;
    }
    
    .artContentTitle {
        font-size: 4vw;
    }
    
    
    /************************ Main Style ********************/
    /**********************************************************/
    
     /************************ contetn 1 Style ********************/
    
    .content_1 {
        display: block;
    
    }
    
    .content1_skech_image_div {
        display: block;
        float: right;
        flex: none;
        margin-bottom: 4%;
        width: 40vw;
    }
    
    hr {
        margin-bottom: 4%;
    }
    
    .contet1_text_p {
        
        font-size: 2.4vw;
    }
    
    #content1_text_p2 {
        font-size: 2.5vw;
    }
    
    #content1_text_p1 {
        font-size: 2.5vw;
    }
    
    .ReadMore {
        margin-bottom: 5%;
        font-size: 2.2vw;
    }
    
    /************************ contetn 2 Style ********************/
    
        /******* content_2 style ***********/

.content_2 {
    display: none;
}

.content_2_shown {
    display: block;
}
    
.tablet_GreenCoridor_img_div {
    display: block;
    width: 40%;
    float: left;
    margin-right: 2.9%;
}
    
.tablet_GreenCoridor_img_div img {
    width: 100%;
}
    
.GreenCoridor_img_div {
   display: none;
}

.GreenCoridor_img_div img {
    
}

.content2_text_div {
   
}


.content2_text_div p {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 4%;
    font-size: 2.4vw;
}


.content2_text_div a {
    margin-top: 10px;
    margin-left: 0;
    color: rgb(201, 82, 61);
    font-size: 2.4vw;
}
    
    
     /************************ footer Style ********************/
    /**********************************************************/
    
.footer_show {
    display: flex;
    font-size: 2vw;
}

.footer_hide {
    display: flex;
    font-size: 2vw;
}
    
}


/************************ Mobile Phone Style ********************/
/****************************************************************/
/****************************************************************/
@media only screen and (max-width: 480px) {
    
    body {
        font-size: 3vw;
    }
    
    /************************ Header Style ********************/
    /**********************************************************/
    
    .logo-and-nav {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin: 0;
        margin-top: 2%;
        margin-bottom: 2%;
        order: 2;
    }
    
    #logoText {
        font-size: 3.3vw;
    }
    
    nav {
        order: 1;
        font-size: 5vw;
        margin: 0;
    }
    
    nav p {
        margin-top: 3%;
        margin-left: 6%;
        margin-right: 3%;
        opacity: 0.7;
        font-weight: 100;
    }
    .header__titleBar {
        flex-direction: column;
    }
    
    .corid_image_div {
        margin: 0;
    }
    
    .titleBar__Text {
        align-items: center;
        margin-bottom: 3%;
        
    }
    
    .artistName {
        margin: 0;
        font-size: 10.6vw;
    }
    
    .artContentTitle {
        margin: 0;
        font-size: 6.5vw;
    }
    
    
    
    /************************ Main Style ********************/
    /**********************************************************/
    
    
     /************************ contetn 1 Style ********************/
     .content_1 {
        display: flex;
         padding-bottom: 10%;
        flex-direction: column;
    
    }
    
    .content1_skech_image_div {
        display: none;
        float: right;
        flex: none;
        width: 85vw;
        margin-left: -6%;
    }
    
    hr {
        margin-bottom: 4%;
    }
    
    .contet1_text_p {
        
        font-size: 4.4vw;
    }
    
    #content1_text_p2 {
        font-size: 5.5vw;
    }
    
    #content1_text_p1 {
        font-size: 5.6vw;
    }
    
    .ReadMore {
        font-size: 5.2vw;
        margin-bottom: 5%;
    }
    /******* content_2 style ***********/

.content_2_shown {
    display: flex;
    flex-direction: column;
}
.content_2 {
    display: none;  
}

.tablet_GreenCoridor_img_div {
    display: none;
}

.GreenCoridor_img_div {
    display: block;
    flex:1;
    order: 2;
    margin-top: 8%;
    margin-left: -6%;
    margin-right: -6%;
    margin-bottom: 5%;
}

.GreenCoridor_img_div img {
    width: 100%;
}

    .p2_content2 {
        padding-bottom: 5%;
    }
.content2_text_div {
    flex: 2;
    order: 1;
}

.content2_text_div p {
    margin: 5%;
    margin-bottom: 1%;
    font-size: 4.4vw;
}

.content2_text_div a {
    color: rgb(201, 82, 61);
    font-size: 5.2vw;
    margin-left: 5%;
    margin-bottom: 7%;
}
    
    /************************ footer Style ********************/
    /**********************************************************/
    
    .footer_show {
        display: flex;
        font-size: 5vw;
    }

    .footer_hide {
        display: none;
    }
    
    footer {
        
        display: none;
        flex-direction: column;
    }
    
    .hours_text_div {
        margin-left: 10%;
    }
    
    #footer_addres_name {
        margin-bottom: 1%;
    }
    
    #footer_hours {
        margin-bottom: 1%;
    }
}

