

/************************ Tablet Style ********************/
/****************************************************************/
/****************************************************************/

@media only screen and (max-width: 780px) {
    
    
    /************************ Header Style ********************/
    /**********************************************************/
    
    #logoText {
        font-size: 2.1vw;
    }

    nav {
        font-size: 2.7vw;
        padding-right: 5%;
    }
    
    .my_image {
        margin: 0;
    }
      
     .artistName {
        font-size: 6.6vw;
    }
    
    .artContentTitle {
        font-size: 3.5vw;
    }
    
    
    /************************ Main Style ********************/
    /**********************************************************/
    
    .block_title {
        font-size: 2.5vw;
        left: -5%;
    }

    .block_info {
        font-size: 2vw;
    }
     
    
    
     /************************ footer Style ********************/
    /**********************************************************/
    
    .footer_show {
        display: flex;
        font-size: 2vw;
    }

    .footer_hide {
        display: flex;
        font-size: 2vw;
    }
}

/************************ Mobile Phone Style ********************/
/****************************************************************/
/****************************************************************/
@media only screen and (max-width: 500px) {
    
    body {
        font-size: 2.5vw;
    }
    
    /************************ Header Style ********************/
    /**********************************************************/
    
    .logo-and-nav {
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        margin: 0;
        margin-top: 2%;
        margin-bottom: 2%;
        order: 2;
    }
    
    #logoText {
        font-size: 3.3vw;
    }
    
    nav {
        order: 1;
        font-size: 5vw;
        margin: 0;
        margin-left: -10%;
    }
    
    nav p {
        margin-top: 3%;
        margin-left: 0%;
        margin-right: 3%;
        opacity: 0.7;
        font-weight: 100;
    }

    .header__titleBar {
        flex-direction: column;
        background-image: linear-gradient(rgb(102, 255, 102),rgb(51, 204, 204) )
    }
    
    .my_image {
        margin: 10%;
    }
    
    .titleBar__Text {
        align-items: center;
        margin-bottom: 3%;
        
    }
    
    .artistName {
        margin: 0;
        font-size: 10.6vw;
    }
    
    .artContentTitle {
        margin: 0;
        font-size: 5.5vw;
    }
    
    
    
    
    /************************ Main Style ********************/
    /**********************************************************/
    
    .block {
        display: block;
    }

    .vertLine {
        /* display: none; */
    }

    .b_title {
        font-size: 3vw;
    }

    .block_info {
        font-size: 3.25vw;
    }

    .block_sub {
        display: block;
    }

    .b_sub {
        text-align: center;
        font-size: 4vw;
    }


    /************************ footer Style ********************/
    /**********************************************************/
    
    .footer_show {
        display: flex;
        font-size: 5vw;
    }
    
    footer {
        flex-direction: row;
    }
    
    .hours_text_div {
        margin-left: 10%;
    }
    
    #footer_addres_name {
        margin-bottom: 1%;
    }
    
    #footer_hours {
        margin-bottom: 1%;
    }
}

